* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: Kumbh Sans;
}

.main {
    position: absolute;
    width: 920px;
    height: 509px;
    background-color: #fff;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.images {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 391px;
}

.woman {
    position: absolute;
    top: 70.81px;
    right: 0px;
}

.pattern {
    position: absolute;
    right: 0px;
    top: -294px;
}

.box {
    position: absolute;
    top: 206.13px;
    left: -93.07px;
}

.accordion {
    display: flex;
    width: 350px;
    flex-direction: column;
    position: absolute;
    left: 51.63%;
    right: 41.09%;
    top: calc(50% - 32px/2 - 173.5px)
}

.accordionItems {
    display: flex;
    flex-direction: column;
}

.faq {
    color: #1E1F36;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 43px;
}

.item {
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #E8E8EA;
    line-height: 14px;
    color: #4B4C5F;
    cursor: pointer;
}

.itemText:hover {
    color: #F47B56;
}

.itemText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E1F36;
}

.arrow {
    width: 10px;
    height: 7px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.panel {
    margin-top: 11px;
    font-weight: lighter;
    display: none;
    /* transition: all 0.5s ease-in; */
}

.panelText {
    color: #787887;
    font-size: 12px;
    line-height: 18px;
}

.active {
    font-weight: 700;
    color: rgba(30, 31, 54, 1);
}

/* @media only screen and (max-width: 768px) {
    .main {
        width: 680px;
    }
    .accordion {
        width: 285px;
    }
    .woman {
        width: 350px;
        top: 95.64px;
    }
    .images {
        width: 294px;
    }
    .box {
        width: 141.48px;
        top: 198px;
        left: -65px;
    }
    .pattern {
        width: 715px;
        top: -175px;
    }
}

@media only screen and (max-width: 426px) {
    .main {
        width: 327px;
        height: 535px;
        top: 17%;
    }
    .box {
        display: none;
    }
    .pattern {
        content: url(../images/bg-pattern-mobile.svg);
        width: 240px;
        height: 145px;
        left: calc(50% - 240px/2 + 0.5px);
        top: -41px;
    }
    .images {
        overflow: unset
    }
    .attribution {
        display: none;
    }
    .woman {
        content: url(../images/illustration-woman-online-mobile.svg);
        width: 237px;
        height: 180px;
        left: 30px;
        top: -108px;
    }
    .images {
        width: 100%;
    }
    .accordion {
        width: 279px;
        height: 355px;
        top: 132px;
        left: 24px;
    }
    .item {
        font-size: 13px;
    }
    .faq {
        text-align: center;
    }
} */


/* Responsive CSS Mobile Version */
@media only screen and (max-width: 350px) {
    .main {
        width: 50%;
        height: 330px;
    }
    .accordion {
        width: 240px;
        top: 120px;
    }
    .faq {
        margin-bottom: 30px;
    }
    .woman {
        width: 180px;
        height: 137px;
        top: -82px;
        left: 42px;
    }
    .pattern {
        top: -65px;
    }
}